*{padding: 0;margin: 0; box-sizing:border-box ;}
html {
    scroll-behavior: smooth;
    scroll-padding: 90px;
}
.menu{
    background:rgb(50, 50, 50);
    text-align: center;
    position:fixed;
    width: 97.5%;
    height: 70px;
    top: 0%;
    z-index: 1;
    margin-left: 20px;
    font-size: larger;
    display: flex;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    width: 50px;
    margin: 10px;
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-family: arial;
}
.menu ul li:hover{
    background-color:white;
}
.menu ul li:hover>a{
    color: black;
}
.image img{
    width: 100%;
    height:800px;
    margin-left: 20px;
    margin-top: 5%;
    position: relative;
}
.Team{
    text-align: center;
    margin: 10px;
}
.member{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px;
}
.project{
    text-align: center;
    text-align: justify;
    background-color: grey;
    width: 50%;
    height: auto;
    padding: 20px;
    color: white;
    font-family: arial;
    font-size: 20px;
}
.about{
    margin-top: 10px;
    margin-right: 10px;
}
.us{
    margin: 20px;
    display: inline-flex;
}
.proj{
    width: 50%;
    height: auto;
}
.proj1{
    width: 100%;
    height:800px;
    margin-left: 10px;   
}
.technology{
    width: 97.5%;
    height: 600px;
    text-align: center;
    margin-left: 20px;
    display: inline-flex;
}
.card{
    background: rgb(148, 146, 146);
    width: 20%;
    height: 510px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 5px;
} 
.card p{
    text-align: justify;
    font-size: 15px;
    margin: 10px;
    font-family: arial;
    color: white;
}
.button{
    background: rgb(0, 136, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
a{
    text-decoration: none;
    color: white;
}
.button:hover{
    background-color: blue;
}
.contact h1{
    text-align: center;
    margin-bottom: 10px;
}
.template{
   margin-top: 1px;
    width: 100%;
    height: 50vh;
    margin-left: 20px;
    background-color: rgb(77, 77, 155);
    color: rgb(160, 215, 225);
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
}
.ccc
{
    width: 99%;
    margin: auto;
}
.template a{
    color: black;
    font-weight: 400;
    font-size: 20px;
}
.template a:hover{
    text-decoration: underline;
}
.left
{
    
    padding-top: 20px;
    padding-left: 20px;
    height: 100px;
    width: 70vh;
    text-align: left;
}
.left p
{
    padding-top: 5px;
}
.middle
{     padding-top: 20px;
    padding-left: 100px;
   
}
.middle p
{
    padding-top: 20px;
    padding-left: 40px;
}
.middle ul
{

    padding-top: 5px;
    padding-left: 6px;
    font-size: 20px;
}
.middle ul li{
    margin-top: 5px;
    text-align: left;
}
.right{
    padding-top: 20px;
    padding-left: 95px;

}
.right ul{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 20px;
}
.right ul li{
    margin-top: 5px;
    text-align: left;
    
}
.right h2{
    margin-left: -50px;
}
.nl{
    padding-top: 20px;
    padding-left: 95px; 
}
.nl ul{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 20px;
}
.nl ul li{
    margin-top: 5px;
    text-align: left;
}
.nl h2{
    margin-left: -100px;
}
.lp{
    margin-top: -9px;
    background-color: rgb(77, 77, 155);
    margin-left: 20px;
    margin-right: -20px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.lp h1{
    
    color: aliceblue;
}
.o:hover {
    background-color: rgb(164, 214, 107);
    border-radius: 20px;
    font-size: 25px;
     margin-left: 20px;
     margin-top: -5px;
     padding-left: -10px;
   
  }
  .op{
    margin-top: 2px;
    width: auto;
    height: 110px;
    background-color: rgb(77, 77, 155);
    margin-left: 20px;
    margin-right: -20px;
  }
  .op ul{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
  }
  .op ul li{
    padding-top: 15px;
    list-style: none;
    padding-left: 40px;
  }
  .copy{
    width: auto;
    height: 50px;
    background-color: rgb(103, 209, 241);
    text-align: center;
    margin-left: 20px;
    margin-right: -20px;
  }
  .ccc{
    padding: 0;margin: 0; box-sizing:border-box ;
    width: 100%;
  }



