*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.t {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 204);
    font-size: larger;
 }
 .h {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 204);
    font-size: larger;
 }
 .y{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 204);
    font-size: larger;
    
    
 }
 .y:hover {
    background-color: yellow;
    border-radius: 20px;
   
  }
  .r{
    background-color:rgb(40, 141, 89) ;
    margin-top: -4px;
    text-align: justify;
  }
  .g{
    padding-top: 1%;
    background-color:tan ;
    text-align: justify;
   
  }
  .k{
    background-color:rgb(40, 141, 89) ;
    height: auto;
    width: 33.33%;
    text-align: center;
   
  }
  .m{
    background-color:tan ;
    height:auto;
    width: 33.33%;
    text-align: center;
  }
  .j{
    display: flex;
  }
  .n{
    background-color:rgb(40, 141, 89) ;
    height:auto;
    width: 33.33%;
    text-align: center;
  }